body,
html {
    height: 100%;
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.container {
    width: 100%;
    padding: 80px 120px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: center;
}

body {
    font-family: 'Helvetica';
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.bicycle {
    max-width: 60%;
    padding-top: 20px;
}

.jumbotron {
    background-color: transparent;
    font-size: 100px;
}

.text-center {
    text-align: center !important;
}

.mx-auto {
    margin-right: auto !important;
}

.containermain {
    min-height: 30rem;
    position: relative;
    display: table;
    height: 100%;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-color: #25D8B5;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100% !important;
    background-size: cover;
}

.mainimg h1 {
    margin: 0;
    padding: 0;
}

em {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

@media (min-width: 992px) {
    .mainimg {
        height: 100vh;
    }
    .mainimg h1 {
        font-size: 5.5rem;
    }
}

.dbText {
    padding-top: 30px;
    margin-bottom: 0.25rem !important;
}

.content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.content-section-heading h2 {
    font-size: 3rem;
}

.content-section-heading h3 {
    font-size: 1rem;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.navbar {
    margin-bottom: 0;
    background-color: #353535;
    border: 0;
    min-height: 80px;
    font-size: 13px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    z-index: 9999;
    border: 0;
    line-height: 1.42857143 !important;
    border-radius: 0;
    /* makes the navbar a little bit see-through */
}

/* Nav-bar link colour */

.navbar li a,
.navbar .navbar-brand {
    color: #dddddd !important;
    margin-top: 15px;
    margin-right: 20px;
    padding-bottom: 0px;
}

/* On hover, the links will turn white */

.navbar-nav li a:hover {
    color: rgb(224, 224, 224) !important;
    border-bottom: 2px solid #ffffff;
    margin-bottom: -10px;
    cursor: pointer;
}

/* The active link */

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

/* Remove border color from the collapsible button */

.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */

.open .dropdown-toggle {
    color: rgb(15, 13, 13);
    background-color: #555 !important;
}

/* Dropdown links */

.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */

.dropdown-menu li a:hover {
    background-color: red !important;
}

a {
    color: #1D809F;
}

a:hover,
a:focus,
a:active {
    color: #155d74;
}

.btn-primary {
    background-color: rgb(23, 175, 221) !important;
    border-color: rgb(23, 175, 221) !important;
    color: #fff !important;
    margin-top: 30px;
}

.btn-dark {
    color: #ffffff !important;
    background-color: #29292c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #155d74 !important;
    border-color: #155d74 !important;
}

.btn-xl {
    padding: 2rem 4rem;
}

/* .btn-secondary {
    background-color: #ecb807 !important;
    border-color: #ecb807 !important;
    color: #fff !important;
} */

.btn-secondary {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: #fff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
}

.btn {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.bg-primary {
    background-color: #1D809F !important;
}

#map {
    height: 550px;
    width: 100%;
}

#content {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-station {
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
}

.content-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#contentNum {
    font-weight: bold;
}

#content-lud {
    font-size: 1rem;
    color: #666666;
    padding: 10px;
}

#Maps {
    position: relative;
}

#contentHolder {
    padding: 5px 5px 0px 5px;
}

.panel-station {
    position: absolute;
    margin-top: 150px;
    top: 75px;
    left: 40px;
    z-index: 99;
    height: 330px;
    width: 300px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    border: 2px solid rgb(56, 56, 56);
    background-color: snow;
    border-radius: 0;
    transition: box-shadow 0.5s;
    margin-top: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.panel-station-heading {
    color: #fff !important;
    background-color: #353535 !important;
    padding: 15px;
    border-bottom: 2px solid #353535;
    border-top-left-radius: px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-station:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.MainTitle {
    border-bottom: 1px solid #aaa;
    text-align: center;
}

#weatherOver {
    display: none;
    position: absolute;
    margin-top: 100px;
    top: 75px;
    right: 40px;
    z-index: 99;
    height: 280px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px #DDD;
    background: transparent;
    align-content: center;
    justify-content: center;
}

#bookBike {
    position: absolute;
    bottom: 0em;
    top: 55ex;
    left: 40px;
}

#btnBooking {
    width: 300px;
    height: 50px;
}

.MapOverTitle {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
}

.Title {
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}

.Num {
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 2rem;
    flex-direction: row;
}

.values {
    padding-right: 20px;
}

#weatherTitle {
    font-size: 3rem;
}

.values1 {
    justify-content: left;
}

.subDetails {
    display: flex;
    flex-direction: row;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

/* Footer */

footer {
    background-color: #353535;
    color: #f5f5f5;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    opacity: 0.9;
    padding: 5PX;
}

footer a p {
    color: #f5f5f5;
    padding-bottom: 15px;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

a {
    color: #1D809F;
}

a:hover,
a:focus,
a:active {
    color: #155d74;
}

#MapFull {
    padding-top: 0px;
    margin-top: 80px;
    margin-bottom: 0px;
    padding-bottom: 0px
}

/* Subscribe */

.panel {
    border: 2px solid #25D8B5;
    border-radius: 0;
    transition: box-shadow 0.5s;
    margin-top: 20px;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-heading {
    color: #fff !important;
    background-color: #25D8B5 !important;
    padding: 25px;
    border-bottom: 2px solid #25D8B5;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-body {
    height: 200px;
}

.panel-footer {
    background-color: #fff !important;
    border: 2px solid #25D8B5;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}

.panel-footer .btn:hover {
    border: 2px solid #f4511e;
    color: #ffffff;
}

.fa-facebook {
    margin-top: 2px;
    font-size: 1.5em;
}

.fa-github {
    margin-top: 2px;
    font-size: 1.5em;
}

.fa-twitter {
    margin-top: 2px;
    font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.pricing-container-fluid {
    margin-top: 120px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cards-container-fluid {
    margin-top: 120px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.text-muted {
    color: #fff;
}

* {
    font-family: 'PT Sans Caption', sans-serif, 'arial', 'Times New Roman';
}

/* Error Page */

.error .clip .shadow {
    height: 180px;
    /*Contrall*/
}

.error .clip:nth-of-type(2) .shadow {
    width: 130px;
    /*Contrall play with javascript*/
}

.error .clip:nth-of-type(1) .shadow,
.error .clip:nth-of-type(3) .shadow {
    width: 250px;
    /*Contrall*/
}

.error .digit {
    width: 150px;
    /*Contrall*/
    height: 150px;
    /*Contrall*/
    line-height: 150px;
    /*Contrall*/
    font-size: 120px;
    font-weight: bold;
}

.error h2
/*Contrall*/

    {
    font-size: 32px;
}

.error .msg
/*Contrall*/

    {
    top: -190px;
    left: 30%;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 32px;
}

.error span.triangle
/*Contrall*/

    {
    top: 70%;
    right: 0%;
    border-left: 20px solid #535353;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.error .container-error-404 {
    margin-top: 10%;
    position: relative;
    height: 250px;
    padding-top: 40px;
}

.error .container-error-404 .clip {
    display: inline-block;
    transform: skew(-45deg);
}

.error .clip .shadow {
    overflow: hidden;
}

.error .clip:nth-of-type(2) .shadow {
    overflow: hidden;
    position: relative;
    box-shadow: inset 20px 0px 20px rgba(150, 150, 150, 0.8), 20px 0px 20px rgba(150, 150, 150, 0.8);
}

.error .clip:nth-of-type(3) .shadow:after,
.error .clip:nth-of-type(1) .shadow:after {
    content: "";
    position: absolute;
    right: -8px;
    bottom: 0px;
    z-index: 9999;
    height: 100%;
    width: 10px;
    background: linear-gradient(90deg, transparent, rgba(173, 173, 173, 0.8), transparent);
    border-radius: 50%;
}

.error .clip:nth-of-type(3) .shadow:after {
    left: -8px;
}

.error .digit {
    position: relative;
    top: 8%;
    color: white;
    background: #07B3F9;
    border-radius: 50%;
    display: inline-block;
    transform: skew(45deg);
}

.error .clip:nth-of-type(2) .digit {
    left: -10%;
}

.error .clip:nth-of-type(1) .digit {
    right: -20%;
}

.error .clip:nth-of-type(3) .digit {
    left: -20%;
}

.error h2 {
    color: #A2A2A2;
    font-weight: bold;
    padding-bottom: 20px;
}

.error .msg {
    position: relative;
    z-index: 9999;
    display: block;
    background: #535353;
    color: #A2A2A2;
    border-radius: 50%;
    font-style: italic;
}

.error .triangle {
    position: absolute;
    z-index: 999;
    transform: rotate(45deg);
    content: "";
    width: 0;
    height: 0;
}

/* Error Page */

@media(max-width: 767px) {
    /* Error Page */
    .error .clip .shadow {
        height: 100px;
        /*Contrall*/
    }
    .error .clip:nth-of-type(2) .shadow {
        width: 80px;
        /*Contrall play with javascript*/
    }
    .error .clip:nth-of-type(1) .shadow,
    .error .clip:nth-of-type(3) .shadow {
        width: 100px;
        /*Contrall*/
    }
    .error .digit {
        width: 80px;
        /*Contrall*/
        height: 80px;
        /*Contrall*/
        line-height: 80px;
        /*Contrall*/
        font-size: 52px;
    }
    .error h2/*Contrall*/
        {
        font-size: 24px;
    }
    .error .msg/*Contrall*/
        {
        top: -110px;
        left: 15%;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }
    .error span.triangle/*Contrall*/
        {
        top: 70%;
        right: -3%;
        border-left: 10px solid #535353;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
    .error .container-error-404 {
        height: 150px;
    }
    /* Error Page */
}

/*--------------------------------------------Framework --------------------------------*/

.overlay {
    position: relative;
    z-index: 20;
}

/*done*/

.ground-color {
    background: white;
}

/*done*/

.item-bg-color {
    background: #EAEAEA
}

/*done*/

/* Padding Section*/

.padding-top {
    padding-top: 10px;
}

/*done*/

.padding-bottom {
    padding-bottom: 10px;
}

/*done*/

.padding-vertical {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-horizontal {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-all {
    padding: 10px;
}

/*done*/

.no-padding-left {
    padding-left: 0px;
}

/*done*/

.no-padding-right {
    padding-right: 0px;
}

/*done*/

.no-vertical-padding {
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-horizontal-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding {
    padding: 0px;
}

/*done*/

/* Padding Section*/

/* Margin section */

.margin-top {
    margin-top: 10px;
}

/*done*/

.margin-bottom {
    margin-bottom: 10px;
}

/*done*/

.margin-right {
    margin-right: 10px;
}

/*done*/

.margin-left {
    margin-left: 10px;
}

/*done*/

.margin-horizontal {
    margin-left: 10px;
    margin-right: 10px;
}

/*done*/

.margin-vertical {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*done*/

.margin-all {
    margin: 10px;
}

/*done*/

.no-margin {
    margin: 0px;
}

/*done*/

.no-vertical-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-horizontal-margin {
    margin-left: 0px;
    margin-right: 0px;
}

.inside-col-shrink {
    margin: 0px 20px;
}

/*done - For the inside sections that has also Title section*/

/* Margin section */

hr {
    margin: 0px;
    padding: 0px;
    border-top: 1px dashed #999;
}

/*--------------------------------------------FrameWork------------------------*/

/* predict page */

.carousel {
    margin-top: 500px;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none;
    color: #25D8B5;
}

.carousel-indicators li {
    border-color: #25D8B5;
}

.carousel-indicators li.active {
    background-color: #25D8B5;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}