<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title> - station map</title>

</head>
<style>
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<body>
    <h1>Hello,!</h1>
    <h2>Here is the map:
    </h2>
    <div id="map"></div>
    <script>
        var locations = {{ locs| safe}}
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-QM6kmMT69XX3uQsuhP260P7dUvZ3M2I&callback=initMap" async
        defer></script>
</body>

</html>