<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title> - station map</title>

</head>
<style>
    #map {
        height: 700px;
        width: 100%;
    }
    #content {
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #content-station {
        font-weight: bold;
        font-size: 1rem;
    }
    .content-numbers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
</style>

<body>
    <h1>Hello,!</h1>
    <h2>Here is the map:
    </h2>
    
    <!-- <img src="{{url_for('static', filename='marker.png')}}" /> -->
    <div id="map"></div>
    <script>
        var locations = {{ locs| safe}}
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-QM6kmMT69XX3uQsuhP260P7dUvZ3M2I&callback=initMap" async
        defer></script>
</body>

</html>