{% extends 'base.html' %}
{% block container %}
<body id="page-top">
<header>
    <div class="text-center my-auto">
        <div class="jumbotron" id="MapFull" style="padding-top:0px; margin-top:80px; margin-bottom:0px;padding-bottom:0px">
            <div style=>
                <div id="map" style="height:700px">
                </div>
            </div>
        </div>
    </div>
</header>
<script>
            var locations = {{ locs | safe }};
</script>
<script src="../static/js/javascript.js"></script>


<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">


</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-QM6kmMT69XX3uQsuhP260P7dUvZ3M2I&callback=initMap" async
    defer>
</script>
</body>
{% endblock %}

