{% extends 'base.html' %} {% block container %}

<body>

    <div class="containermain text-center">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <div class="panel-station">
                    <div class="panel-station-heading text-center">
                        <h2> How it works</h2>
                    </div>
                    <div class="MapOverTitle">
                        <div class="Title">Total Bikes</div>
                        <div class="Num">
                            <div class="values">
                                <i class="fas fa-bicycle"></i>
                            </div>
                            <div class="values">{{tB}}</div>
                        </div>
                        <div class="Title">Total Stations</div>
                        <div class="Num">
                            <div class="values">
                                <i class="far fa-flag"></i>
                            </div>
                            <div class="values">{{tS}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <img class="bicycle" src="../static/img/bike.png" alt="bicycle">
                <h1 class="dbText">Station Maps for Dublin Bikes</h1>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#Maps">Find Out More</a>
            </div>
            <div class="col-sm-3 col-xs-12">
                <div class="panel-station">
                    <div class="panel-station-heading text-center">
                        <h2> How it works</h2>
                    </div>
              
                             <div class="MapOverTitle">
                                    <div class="MainTitle">Check the weather before you book</div>
                                    {% if mainDesc == 'Rain'%}
                                    <div class="Title" id="weatherTitle">
                                        <div class="values">
                                            <i class="fas fa-tint" style="color: #4FC3F7"></i>
                                        </div>{{mainDesc}}</div>
                                    {% endif %} {% if mainDesc == 'Sun'%}
                                    <div class="Title" id="weatherTitle">
                                        <div class="values">
                                            <i class="fas fa-sun" style="color: #FFEB3B"></i>
                                        </div>{{mainDesc}}</div>
                                    {% endif %} {% if mainDesc == 'Clouds'%}
                                    <div class="Title" id="weatherTitle">
                                        <div class="values">
                                            <i class="fas fa-cloud" style="color: #4FC3F7"></i>
                                        </div>{{mainDesc}}</div>
                                    {% endif %} {% if mainDesc == 'Snow'%}
                                    <div class="Title" id="weatherTitle">
                                        <div class="values">
                                            <i class="fas fa-snowflake" style="color: #4FC3F7"></i>
                                        </div>{{mainDesc}}</div>
                                    {% endif %} {% if mainDesc == 'Extreme'%}
                                    <div class="Title" id="weatherTitle">
                                        <div class="values">
                                            <i class="fas fa-tint" style="color: #4FC3F7"></i>
                                        </div>{{mainDesc}}</div>
                                    {% endif %}
                                    <div class="mainDetails">
                                        <div class="subDetails">
                                            <div class="Num">
                                                <div class="values" style="font-size:1rem">
                                                    Temp:
                                                </div>
                                                <div class="values1" style="font-size:1rem">{{mainTemp}}</div>
                                            </div>
                                            <div class="Num">
                                                <div class="values" style="font-size:1rem">
                                                    Rain:
                                                </div>
                                                <div class="values1" style="font-size:1rem">{{mainRain}}</div>
                                            </div>
                                        </div>
                                        <div class="subDetails">
                                            <div class="Num">
                                                <div class="values" style="font-size:1rem">
                                                    Snow:
                                                </div>
                                                <div class="values1" style="font-size:1rem">{{mainSnow}}</div>
                                            </div>
                                            <div class="Num">
                                                <div class="values" style="font-size:1rem">
                                                    Winds:
                                                </div>
                                                <div class="values1" style="font-size:1rem">{{mainWind}}</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                </div>
            </div>
        </div>
    </div>
 



</body>

{% endblock %}
