{% extends 'base.html' %} {% block container %}

<body style="overflow:hidden;">
    <header>
        <div class="text-center my-auto">
            <div class="jumbotron" id="MapFull" style="height:100%;margin-bottom:0px;padding-bottom:0px;">
                <div>
                    <div id="map" style="height:800px; margin-top: 20px;">

                    </div>
                    <div id="weatherOver"></div>
                    </div>
                    </div>
                </div>
    </header>
    <script type="text/javascript" src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-QM6kmMT69XX3uQsuhP260P7dUvZ3M2I&callback=initMap" async
        defer>
    </script>
    <script>
        setTimeout(function () {
                location = ''
            }, 630000)
    </script>
</body>
{% endblock %}
