
{% extends 'base.html' %}

{% block container %}
<!-- Container (Pricing Section) -->
<html>
<body>
<div class="pricing-container-fluid">
    <div class="text-center">
        <h1>Pricing</h1>
        <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Testimonials</h1>
                </div>
                <div class="panel-body">
                    <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                        <!-- Indicators -->
                            <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <h4>"I LOVE taking a Dublin Bike to work! It's so much quicker that the bus"
                                    <br>
                                    <span style="font-style:normal;">Harsh Gupta, Lead Data Analyst, Google</span>
                                </h4>
                            </div>
                            <div class="item">
                                <h4>"One word... WOW!! Fun, cheap and fast, I LOVE Dublin"
                                    <br>
                                    <span style="font-style:normal;">Elena Fox, Software Engineer, Nokia Bell Labs</span>
                                </h4>
                            </div>
                            <div class="item">
                                <h4>"Could I... BE any more happy with this bike sharing scheme?"
                                    <br>
                                    <span style="font-style:normal;">Chandler Bing, Actor, Friends</span>
                                </h4>
                            </div>
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        
                        </div>
                     </div>
                    <div class="panel-footer">
                        <h3>Have your say!</h3>
                        <h4>And send us your testimonial</h4>
                        <button class="btn btn-lg">Sign Up</button>
                    </div>

            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>The 3 Day Ticket</h1>
                </div>
                <div class="panel-body">
                    <br>

                    <p>
                        <strong>For occasional use, choose the 3 Day Ticket option. </strong>
                    </p>
                    <p>
                        These tickets are convenient for short term users.</p>
                    <p>
                        You can buy a 3 Day Ticket at stations with credit card terminals.</p>
                    <p>
                </div>
                <div class="panel-footer">
                    <h3>€5</h3>
                    <h4>per ticket</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Annual Card</h1>
                </div>
                <div class="panel-body">
                    <p>
                        <br>
                        <strong>For frequent use, choose the annual membership</strong></p>
                    <p>
                        The simple and convenient way to enjoy dublinbikes all year round.</p>
                    <p>
                        You can enjoy all the benefits of DublinBikes at the swipe of a card. </p>
                </div>
                <div class="panel-footer">
                    <h3>€25</h3>
                    <h4>per year</h4>
                    <button class="btn btn-lg">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="panel panel-default text-center">
                <div class="panel-heading">
                    <h1>Pricing Structure</h1>
                </div>
                <div class="panel-body">
                     <br>
                    <p>
                        <strong>Rental Charges</strong> </p>
                    <p>
                        First 1/2 hour:     Free</p>
                    <p>
                        Up to 1 hour:       €0.50</p>
                    <p>
                        p to 2 hours:       €1.50</p>
                    <p>
                        Up to 3 hours:      €3.50</p>
                </div>
                <div class="panel-footer">
                    <h3>Try is out</h3>
                    <h4>and go for a ride!</h4>
                    <button class="btn btn-lg">Book Now</button>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    $(document).ready(function () {
        // Initialize Tooltip
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
</body>
</html>

{% endblock %}




